diet-plan1.json
{
  "name": "diet-plan1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1r8HFxNKWg9yyax2d7MZBcDzgmNpY1Z2k",
          "mode": "list",
          "cachedResultName": "diet",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1r8HFxNKWg9yyax2d7MZBcDzgmNpY1Z2k"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        0
      ],
      "id": "5c6d8205-3708-4eaf-9e84-20b2ab3c2e79",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qnOvt6wVjBhokWfz",
          "name": "Google Drive account 121"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        0
      ],
      "id": "f6e460ea-a95b-4521-8e0c-eff7d6a14fc4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qnOvt6wVjBhokWfz",
          "name": "Google Drive account 121"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "diet",
          "mode": "list",
          "cachedResultName": "diet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        128,
        0
      ],
      "id": "43b1d716-c75d-4508-ba05-292251131c28",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "yfbUsiISwHeYBgJI",
          "name": "PineconeApi account 138"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        208
      ],
      "id": "61166d8c-ab71-42e3-83e9-b1bfa5d755b8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TIE3eHbqIiUTx3yK",
          "name": "OpenAi account 310"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        288,
        224
      ],
      "id": "cfe9b5ee-44c3-4238-a16f-c6e93a36e75c",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7bdbc1fb-97ad-4f3e-8534-0cbd72b52605",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f00bba974abf03cb5183d4d65f8a9645a781b04770df6a7d08284fca87d50b3"
  },
  "id": "rkbFoYyDT1JwXYhA",
  "tags": []
}